# Dependency directory
node_modules

# Sublime workspace configuration
sftp-configuration.json

# Secret
*.pub
*.pem
*.ppk
/src/server/credentials

# Log
*.log

# Build files
/build
/.deploy

# Others
.DS_Store